h1,
p {
  font-family: Lato;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 5px;
  /* background-color: rgb(255, 255, 255); */
  color: rgba(0, 0, 0, 0.87);
  /* box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px; */
  overflow: hidden;
}

/* li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeeee;
} */

.accordian {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem 0;

}

.accordian-title {
  position: relative;
  padding: 2.5rem 1rem 1rem;
  text-transform: capitalize;
  margin-bottom: 1px;
  cursor: pointer;
}

.accordian-title::after {
  content: '+';
  position: absolute;
  right: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

li.active .accordian-title::after {
  content: '-';
}

.accordian-content {
  height: 0;
 display: flex;
 flex-direction: column;
}

.accordian-content p {
  margin-bottom: 0.5rem;
  display: flex;

 
}




li.active .accordian-content {
  height: auto;
  padding: 0.5rem 1rem 1rem;
  border-top: 1px solid #ddd;

}
