.nuy img{
    width: 180px;
    object-fit: contain;
    height: 130px;
    
}

.bik{
    color: red;
}

.BrainhubCarousel__arrows {
     position: relative; 
    padding: 21px;
    border: none;
    overflow: hidden;
    outline: 0;
    font-size: 0;
    line-height: 0;
    background-color: black;
    margin-top: -25px;
    margin-left: 10px;
    height: 60px;
    width: 50px;
    border-radius: 3px;
}

/* .BrainhubCarousel__arrows:hover:disabled {
    background-color: red;
} */

 .deny{
    
    margin-top: 5%;
    margin-left: 1%;
    max-width: 95%;

} 

.BrainhubCarousel__arrows:hover:enabled{
    background-color: black;
    color: red;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.num{
    color: #388e3c;
    
}

.middle{
    text-align: center;
    margin-top: 10px;
}

.dop a{
    text-decoration: none;
    color: black;
}

.dfrt{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sells{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.don{
    display: flex;

}

.hyi{
    width: 90%;
    font-size: 25px;
    font-weight: 600;
}



.btnse{
    background-color: #2874f0;
    color: white;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    border: none;
}

.dop{
    margin-top: 20px;
}