.collection{
    display: flex;
    flex-direction: column;
   
}


.headn{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    letter-spacing: 0.3px;
}

.catn{
    display: flex;
    flex-direction: column;
}


.crt{
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 10px;
}

.mult{
    display: flex;
    flex-direction: column;
}


.ek{
    color: gray;
    font-size: 15px;
    margin-left: 10px;
}

.doo{
    color: gray;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
}



.Discount{
    margin-top: 20px;
 
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-top: 5px;
}

.ao input{
   
    margin: 0px 6px;
}

.ao{
    margin-top: 8px;
    letter-spacing: 1px;
}

.stars{
   color:#000000;
   font-size: 3px;
   display: flex;
   margin-top: -5px;
}


