.mixer{
    display: flex;
   
    height: max-content;
    padding: 12px;
}


.left-side{
    /* background-color: rgb(235, 219, 190); */
     border-right: 2px solid black; 

  
}

.right-side{
     display: flex;
     justify-content: center;
     max-width: 1500px;  
    margin-left: auto;
    margin-right: auto;
}
/* 
 .homi{
     height: 500px;
    width: 150%;
    margin-left: 5px;
    margin-right: 5px; 
}   */



.homi-row{
     display: flex; 
    z-index: 1;
} 