.footer{
    background-color: #172337;
    width: auto;
    height: 380px;
    color: white;
    margin-top: 50px;
}

.rows{
    margin-left: 3%;
    display: flex;
    /* margin-top: 5%; */
}

.dams{
    margin-top: 20px;
    
}

.no{
    list-style: none;
    color: white;
    font-size: 14px;
    padding: 3px;
}

.no a{
    text-decoration: none;
    color: white;
}

.liitle{
    font-size: 16px;
     margin-left: 25px; 
    color: #878787;
   
}

.borderse{
    border-right: 1px solid #878787;
    margin-left: 8%;
    margin-top: 40px;
    height: 160px;
}

.parase{
    margin-left: 27px;
    display: flex;
    flex-direction: column;
}

.para a{
    text-decoration: none;
}

.big-line{
    border-bottom: 1px solid #878787;
    margin-top: 30px;
}

.desb{
    display: inline-flex;
    margin-top: 30px;
    margin-left: 30px;
}

.end-foot{
    display: flex;
    padding: 2px 13px;
}

.pol{
    color: white;
    margin-left: 12px;
}

.pok{
    margin-left: 20px;
   font-family: cursive;
}