.Bgcolr{
    position: fixed;
    width: 100%;
    height: 62px;
    background-color: #2874f0;
    color: #f0f0f0;
    z-index: 10;
   display: flex;
}

.start{
    margin-left: 15%;
    margin-top: 8px;
}

.image img{
    width: 80px;
    object-fit: contain;
}
.plus a{
    text-decoration: none;
    color: white;
}

.plus{
    font-style: italic;
    font-size: 13px;
}

.pol{
    color: #ffe500;
}

.plus img{
    width: 15px;
    object-fit: contain;
}


.search-box{
    margin-left: 1%;
    width: 500px;
    height: 35px;
    border: 1px solid white;
     display: flex; 
    margin-top: 10px;
   background-color: white;
   border-radius: 2px;
}

.sarch{
    border: none;
    outline: none;
    flex: 1;
    background: none;
    margin-left: 10px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.s-icon{
    color: #2874f0;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.login{
    margin-left: 35px;
    margin-top: 13px;

}

.btn{
    width: 120px;
    height: 30px;
    color: #2874f0;
    font-family: sans-serif;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: 520;
    cursor: pointer;
}


.dol{
    margin-left: 35px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
     /* cursor: pointer; */
}


.down-iscon{
     margin-bottom: -6px;
     font-size: small;
  
}

.down-iscon:hover{
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}

.cart{
    margin-left: 35px;
    margin-top: 16px;
}

.cart-logo{
    margin-bottom: -2px;  
}

.opt{
    margin-left: 5px;
    font-size: 20px;
    font-family:sans-serif;
}


.bint{
    content: "";
    position: absolute;
    width: 205px;
    height: 210px;
    background-color: white;
    visibility: hidden;
    opacity: 3;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.4);
    /* transition: all 0.4s ease; */
    z-index: 5;
    top: 93%;
   margin-left: -40px;
}

.dol:hover .bint{
    visibility: visible;
    opacity: 3;
}

.login:hover .bint{
    visibility: visible;
    opacity: 3;
}

.op{
    margin-left: 5px;
    margin-top: 15px;
     display: flex; 
     font-weight: bold;
}

.ocon{
    color: #2874f0;
    margin-left: 2px;
}

.writens{
    color: black;
    font-size: 14px;
    margin-left: 8px;
    font-family:sans-serif;
  
}

