.subtotal{
    display: flex;
    flex-direction: column;
  
    width: 350px;
    margin-left: 10px;
}


.heder{
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-top: 3px;
    margin-left: 3px;
}

.All-total{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}


.onesn{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.towes{
   margin-left: 30%;
}


.priceses{
    margin-top: 25px;
}