.subtotal{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 10px;
}


.heder{
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-top: 3px;
    margin-left: 3px;
}


.All-total{
     display: flex;
     flex-direction: column; 
    margin-top: 20px;
    margin-left: 1px;
 
}

.subtotals-left{
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 2px 0px;
    background-color: white;
    height: max-content;
}

.bnk{
    display: flex;
 
      justify-content: space-between; 
    align-items: flex-start; 
     margin: 5px 5px; 
}

.p-r{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.p-v{
    text-align: right;
    /* width: 40%; */
    font-size: 18px;
    font-weight: 600;
    margin-top: -3px;
}


.super-coin {
      /* width: 100%; */
    /* object-fit: contain;
    opacity: 500px; */
    /* filter: blur(15px); */
    margin-top: 10px;
}

.super-icon{
    width: 320px;
    object-fit: contain;
}

.in-icon{
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}